h1 {
  color: brown;
  background-color: cornsilk;
}

p {
  color: brown;
  background-color: cornsilk;
}

body {
  background-image: repeating-linear-gradient(
      135deg,
      rgba(4, 229, 71, 0.08) 0px,
      rgba(4, 229, 71, 0.08) 1px,
      transparent 1px,
      transparent 9px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(160, 255, 188, 0.08) 0px,
      rgba(4, 229, 71, 0.08) 1px,
      transparent 1px,
      transparent 9px
    ),
    linear-gradient(90deg, rgb(77, 18, 84), rgb(52, 161, 185));
}
